/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


strong{font-weight:bold;}

/* =============================================================================================
 HTML 5 media quaries that handle a variety of pixel densities that many mobile devices exibit
 ===============================================================================================*/






#wrapper {
	margin-top: 20px;
}



/*=======================================================
 * header section including: logo, nav/menu bar, etc
 * ======================================================
 */
	#header {
 		width: 100%;
	}
		#logo_area{
			height: 49px;
			margin-bottom: 20px;
			padding-left: 1.9825%;
    		padding-right: 1.9825%;
		}
			 #logo_area div{
				display: inline-block;
			 }
				#logo {
					width: 32%;
				}
				#logo_image{
				}
				#slogan{
					border-left: 1px solid #B3CC94;
					margin-left: 10px;
					padding: 9px 10px 0px 10px;
					position: absolute;
				}
					#logo span{
						font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
						font-size: 14px;
						line-height: 39px;
					}
			#first{
				width: 67%;
				float: right;
			}		
				#npr_logo {
				margin-left: 5px;
				position: relative;
				top: 6px;
				}
					#npr_image{
					}
					#heart_container {
						height: 50px;
						margin-left: 6.2%;
						padding: 0px 1.3% 0px 1.3%;
						position: absolute;
						-moz-box-shadow: 1px 3px 1px 6px #ccc;
						-webkit-box-shadow: 3px 3px 6px 0px #202020;
						box-shadow: 3px 3px 6px 0px #202020;
						cursor: pointer;
					}
						#heart_image{
						position: relative;
						top: 14px;
						}
						#heart_container span{
							position: relative;
							top: 6px;
							vertical-align: middle;
							font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
							font-size: 1.2em;
							color: #007CC2;
						}
				#social{
					float: right;
					margin-right: -5px;
					position: relative;
					top: 13px;
				}
					#social span{
						vertical-align: middle;
						font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
					}
					#social img{
						vertical-align: middle;
					}
				#menu_button{
					color: #FFF;
				}	
			#nav_wrapper{
				background-color: #007CC2;
				width: 100%;
				height: 47px;
				border-bottom: 5px solid #B3CC94;
			}
				#main_nav{
					max-width: 999px;
					height:0;
					margin: 0px auto;
				}
					.nav_list{
						margin: 0 auto;
						text-align: center;
					}
						.menu{
							display: none;
						}
						.nav_item{
							display: inline-block;
							border-left: 1px solid #FFF;
							padding: 14px 2.105% 14px 2.105%;
						}
							.nav_list a{
								color: #FFF;
								text-decoration: none;
								font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
								font-size: 1em;
							}
							#listen_live1{
								display:none;
							}
							#schedule{
								display:none;
							}
							#listen_live2{
								display:none;
							}
							.search_box{
								width: 27.5%;
								display: inline-block;
								height: 45px;
								background-color: #FFF;
							}
								.searchInput{
									height:43px;
									border: 0px;
									padding: 0px 0px 0px 6.654%;
									font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
									font-size: 1em;
									font-weight: bold;
									color: #007CC2;
									max-width: 66.2%;
								}
									.searchButton{
										float: right;
		   								margin: 5.6% 8%;
									}
/*=======================================================
 * Content section for home page/index.html
 * ======================================================
 */							
	#main_content_wrapper{
		margin: 20px 1.953%;
	}		
		#secondary_content_wrapper{
		}
			#highlights{
				width: 65.042%;
				height:100%;
				border-bottom: 1px solid #B3CC94;
	    		padding-bottom: 19px;
	    		margin-bottom: 19px;
	    		float: left;
			}
			#mobile_highlights_section_head{
				font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
				font-size: 1.2em;
				font-weight: bold;
				margin-top:-8px;
				margin-bottom:15px;
			}
				.highlight_image{
					margin-bottom: 10px;
					width: 100%;
					display:block;
					float:left;
				}
				.highlights_text_area{
				}	
					.highlights_section_head{
						font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
						font-size: 1.5em;
						font-weight: bold;
						margin-bottom: 5px;
					}
						.highlight_headline{
							font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
							font-size: 1.875em;
							font-weight: bold;
							color: #007CC2;
							margin-top: 5px;
							margin-bottom: 5px;
							cursor: pointer;
						}
						.highlight_body_text{
							font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
							font-size: 1.125em;
							color: #444444;
							line-height: 21.5px;
						}
							#articles{
								width: 65.042%;
							}
								#left_column{
									width:48.43%;
									float: left;
									margin-right: 3.125%;
									margin-bottom:20px;
								}
								#right_column{
									width: 48.43%;
									float: right;
									margin-bottom:20px;
								}
								.mobile_section_head{
								font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
								font-size: 1.2em;
								font-weight: bold;
								margin-bottom:15px;
								display:none;
								}
									.article{
										width: 100%;
										border-bottom: 1px solid #B3CC94;
									    margin-bottom: 19px;
									    padding-bottom: 19px;
									}
										.article_image{
											margin-bottom: 5px;
											width: 100%;
											cursor: pointer;
										}
										.article_headline{
											font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
											font-size: 1.5em;
											color: #007CC2;
											cursor: pointer;
										}
										.article_text{
											font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
											font-size: 0.875em;
	   										line-height: 17.25px;
	   										margin-top: 5px;
	   										padding-right: 9px;
											color: #444444;
										}

/*=======================================================
 * shop content section including: the shop stuff
 * ======================================================
 */	
 
		#wrapper{
			overflow: hidden;
		}
 		#shop_wrapper{
 			padding: 20px;
 			width: 984px;
			margin: 0 auto; 			
 		}
	 		.shop_head{
	 			padding-bottom: 15px;
	 			width: 100%;
	 			height: 25px;
	 			border-bottom: 1px solid #B3CC94;
	 			font-size: 24px;
	 			font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
	 		}
		 		#shop_head_txt{
		 			float: left;
		 		}
		 		#view_cart_txt{
		 			float: right;
		 			color: #007CC2;
		 		}
		 		.item_category{
		 			width: 100%;
		 			height: 390px;
		 			margin: 10px 0;
		 			border-bottom: 1px solid  #B3CC94;
		 		}
			 		.item_category div{
			 			display: inline-block;
			 		}
			 		.category_head{
			 			margin: 20px 0;
			 			font-size: 30px;
			 			font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
			 			color: #007cc2;
			 		}
		 			.shop_item{
		 				width: 314px;
		 				height: 314px;
		 				margin-right: 20px;
		 				float: left;
		 				background-color: #007cc2;
		 				opacity: .2;

		 			}
		 			.third_item{
		 				margin-right: 0;
		 			}
 		

 
/*=======================================================
 * sidebar section including: brief schedule, listen live, full schedule and program guide buttons, sponsor spots
 * ======================================================
 */											
			#sidebar{
				width: 33%;
				float: right;
			}
				.schedule_container{
					margin-bottom: 20px;
					overflow: hidden;
				}
				#listen_live_button{
					text-align:center;
					color: #FFF;
					width: 100%;
					background-color: #007CC2;
					border: 0;
					height: 45px;
					font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
					font-size: 20px;
					cursor: pointer;
				}
				#radio_button{
					text-align:center;
					color: #007CC2;
					width: 50%;
					background-color: #FFF;
					border: 0;
					height: 45px;
					font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
					font-size: 18px;
					float:left;
					cursor: pointer;
				}
				#tv_button{
					text-align:center;
					color: #FFF;
					width: 50%;
					background-color: #b9b9b9;
					border: 0;
					height: 45px;
					font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
					font-size: 18px;
					cursor: pointer;
				}
					#abbreviated_schedule{
						border-left: 1px solid #B9B9B9;
						overflow: hidden;
						border-right: 1px solid #B9B9B9;
					}
						.time_stamp_container{
							float: left;
							width: 29.375%;
						}
						.time_stamp{
							text-align: center;
							background-color: #B9B9B9;
							padding: 10px 18.72% 94px;
							border-bottom: 1px solid #FFF;
							font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
							color: #FFF;
						}
						.time{
							max-width: 45px;
							width: 100%;
							height: 22px;
							margin: auto;
						}
						.time strong{
							font-size:1.5em;
							float:left;
							font-weight:normal;
							
				
						}
							.min_abbrv{
								float: left;
								width: 33%;
								height: 18px;
								line-height: 9px;
								font-size: .625em;
								position: relative;
								top: 3px;
								margin-left: 4.1%;
							}
								.min_abbrv strong{
									font-size:12px;
								}
					.shows_container{
						
					}		
						#shows1{
							margin-left: 35.53%;
							margin-right: 6.289%;
							
						}
					.break{
						padding: 9px 0px;
						border-bottom:1px dotted #B3CC94;
						font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
						font-size: 12px;
						line-height:14.5px;
					}
					#last_break{
						border:0;
					}
						
				#full_schedule_button{
					border: 0;
					width: 50%;
					height: 31px;
					padding-top: 14px;
					float: left;
					background-color: #007CC2;
					text-align:center;
					color: #FFF;					
					font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
					font-size: 18px;
					text-decoration: none;
					cursor: pointer;
				}
				#prog_button{
					border-left: 1px solid white; 
					width: 49.6%;
					height: 31px;
					padding-top: 14px;
					float: left;
					background-color: #007CC2;
					text-align:center;
					color: #FFF;					
					font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
					font-size: 18px;
					text-decoration: none;
					cursor: pointer;
				}
				.ad{
					background-color: #007CC2;
					margin-bottom:20px;
					text-align: center;
					padding: 84px 0;
					cursor: pointer;
				}
				
				
/*=======================================================
 * footer section includes: additional nav, logo, legal copy, additional links
 * ======================================================
 */					
			.footer{
				 background-color: #007CC2;
   				 clear: both;
   				 height: 201.5px;
    			 width: 100%;
			}
				#footer_nav_wrapper{
					width: 100%;
					background-color: #FFFFFF;
					position: relative;
					bottom:-1px;
				}						
					#footer_nav{
						max-width: 999px;
						margin: 0 auto;
						background-color: #FFFFFF;
						
					}
						.footer_nav_list{
							margin-left: 4.88%;
						}
							.footer_nav_item{
								display: inline-block;
								height: 31px;
								border-left: 1px solid #007CC2;
								padding: 14px 2.105% 0px 2.105%;
							}
								.footer_nav_list a{
									color: #007CC2;
									text-decoration: none;
									font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
									font-size: 1em;
								}
									#last_footer_nav{
										border-right: 1px solid #007CC2;
									}
					.footer_content{
						margin-top: 60px;
						margin-left: 7%;
						margin-right: 10%;	
					}
						.footer_logo_area{
							float: left;
							border-right: 1px solid #B3CC94;
							padding-right: 9px;
							margin-right: 9px;
						}
							#footer_logo_image{
								width: 100%;
							}
						#footer_links{
							padding-top: 18px;
						}	
							.link_item{
								display:inline;
								font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
								font-size: .75em;
								color: white;
								border-right:1px solid white;
								padding:0px 9px 0px 9px;
							}
							.link_item a{
								font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
								font-size: 1em;
								color: white;
								text-decoration: none;
							}
							#first_link_item{
								padding-left:0;
							}
							
							#last_link_item{
								border-right:0;
							}
/*=======================================================
 * mobile nav menu 
 * ======================================================
 */	

	#menu_wrapper {
	position: absolute;
	z-index: 100;
	top: 142px;
	background-color: #FFF;
	width: 100%;
	-moz-box-shadow: 0px 1px 7px 0px #202020;
	-webkit-box-shadow: 0px 1px 7px 0px #202020;
	box-shadow: 0px 1px 7px 0px #202020;
	display:none;
}
#nav_menu {
	width: 79.1%;
 	height: 145px;
	padding: 40px 10.4% 5px;
	overflow: hidden;

    
}
#nav_menu ul {
    padding-left:0px;
}
#nav_menu li {
    list-style:none;
    margin-bottom: 30px;
}
#nav_menu a {
    text-decoration: none;
    font-family:'Franklin Gothic Book', 'Quattrocento Sans', Helvetica, sans-serif;
    color: #007CC2;
}
.menu_column {
    width: 11.33%;
	float: left;
}
#menu_left_column{
	margin-right: 23.19%;
}
#menu_middle_column{
	margin-right: 23.19%;
}
#menu_right_column ul {
    margin-left: 80.27%;
}
.line_break{
	width:100%;
	border-bottom:1px solid #777;
}
#search_container {
   
	height: 81px;
	padding: 20px 10.19%;
}
#searchForm_container{
	height: 44px;
	width: 100%;
}
#menu_searchInput {
    width: 73.3%;
	height: 40px;
	padding-left: 14px;
	margin-bottom: 20px;
	border: 1px solid #000;
	border-right: 1px solid #007CC2;
	color: #007CC2;
	font-size: .9em;
	float: left;
	
}
#menu_searchButton {
   margin: 15px 17px;
	position: absolute;
	height: 16px;
	width: 23px;
}
#blue_box{
	float: left;
	width: 58px;
	height: 44px;
	background-color: #007CC2;
}
#menu_close {
    float: right;
	border: 1px solid #007CC2;
	background-color: #FFF;
	color: #007CC2;
	position: relative;
	bottom: -13px;
	margin-right: 2%;
}

 /*=======================================================
 * HTML 5 Media Queries
 * ======================================================
 */						
@media screen and (max-width: 931px){
	#npr_logo{
		visibility:hidden;
	}
	
	
	
	#highlights{
		float: none;	
		width: 100%;
	}
	
	
	#sidebar{
		float: none;
		width: 100%;
		padding-bottom: 20px;
		border-bottom: 1px solid #B3CC94;
		margin-bottom:20px;
		overflow: hidden;
	}
	
	#schedule_container{
		width: 36.4%;
		float: left;
		margin-right: 2.27%;
		margin-bottom:0;
	}
	
	#shows1{
		margin-left: 32.53%;
		margin-right: 6.289%;
	}
	
	#sponsor_section{ 
		width: 61.3%;
		height: 395px;
		float: right;
		}
		
	#column-l{
		float:left;
		width: 48%;
		margin-right: 3.72%;
	}
	#column-r{
		float: right;
		width: 48%;
	}
	
	#articles{
		width: 100%;
		margin-bottom: 40px;
	}
	
	#left_column{
		margin-right:2.273%;
		width:48.86%;
		float:left;
	}
	
	#right_column{
		width:48.86%;
		float:right;
	}
	.time_stamp{
		margin-right: 10.118%;;
	}
	.shows{
		
	}
	
	.footer_nav_list{
		margin:0;
	}
}
@media screen and (max-width: 900px){
	#footer_links{
		padding-top: 11px;
	}
}
@media screen and (max-width: 869px){
	.search_box{
		width: 26.5%;
	}
	.searchButton {
    margin: 7% 7%;
	}
}
@media screen and (max-width: 848px){
	.search_box{
		width: 25.5%;
	}
	.searchButton {
    margin: 7% 6%;
	}
}
@media screen and (max-width: 831px){
	.search_box{
		width: 24.5%;
	}
	.searchButton {
    margin: 7% 6%;
	}
	#left_column{
		width: 48.59%;
	}
	#right_column{
		width: 48.59%;
	}
}
@media screen and (max-width: 814px){
	.search_box{
		width: 24.5%;
	}
	.searchButton {
    margin: 7% 6%;
	}

}
@media screen and (max-width: 814px){
	/*.nav_item{
		display:none;
	}
	
	.menu{
		display: inline-block;
		color: #FFF;
		height: 31px;
		border-right: 1px solid #FFF;				
		padding: 14px 2.105% 0px 2.105%;
		font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
		font-size: 1em;
		
	}
	*/
	
	
	
	#menu{
		display: inline-block;
		height: 41px;
		padding: 4px 10px 0px 5px;
		float: left;
		cursor: pointer;
	}
	#menu h3{
		float: right;
		color: #FFF;
		font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
		font-size: 1.3em;
		height: 18px;
		margin: 9px 5px 10px 5px;
		letter-spacing: 1px;
	}
	
	#menu h4{
		display: inline-block;
		float: left;
		text-indent: -9000px;
		border-top: double 10px #FFF;
		border-bottom: solid 3px #FFF;
		width: 20px;
		height: 4px;
		cursor: pointer;
		padding: 0;
		margin: 10px;
	}
	
	#menu_button{
		display: none;
		width:8.39%;
		padding: 14px 2.105% 14px 2.105%;
		color: #FFF;
		font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
		font-size: 1em;
		background-color: #007CC2;
		float:right;
		text-align:center;
		-moz-box-shadow: 2px 2px 1px 0px #202020;
		-webkit-box-shadow: 2px 2px 1px 0px #202020;
		box-shadow: 2px 2px 1px 0px #202020;
	}
	.nav_item{
		display: none;
	}
	
	#shop{
		border-right:1px solid white;
	}
	.search_box{
		display:none;
	} 
	
	.footer_nav_item{
		display:none;
	}
	
	#footer_menu{
		display: inline-block;
		color: #007CC2;			
		height: 41px;
		padding: 4px 10px 0px 5px;
		font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
		font-size: 1em;
		cursor: pointer;
	}
	
	#footer_menu h3{
		float: right;
		color: #007CC2;
		font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
		font-size: 1.3em;
		height: 18px;
		margin: 9px 5px 10px 5px;
		letter-spacing: 1px;
	}
	
	#footer_menu h4{
		display: inline-block;
		float: left;
		text-indent: -9000px;
		border-top: double 10px #007CC2;
		border-bottom: solid 3px #007CC2;
		width: 20px;
		height: 4px;
		padding: 0;
		margin: 10px;
	}
}

@media screen and (max-width:814px){
	#schedule_container{
		width: 48.59%;
	}
	
	#sponsor_section{
		width: 48.59%;
	}
	
	#column-l{
		width: 85.75%;
	}
	
	#column-r{
		display: none;
	}
}


@media screen and (max-width:768px){
	#logo{
		width: 42%;	
	}
	
	#heart_container{
		margin-left: 0;
	}
	#first{
		float:none;
		width: 50%;
	}
	
	div#social{
		display:none;
	}
	.nav_list{
		margin: 0 auto;
		text-align: center;
	}
	
	.nav_item{
		display:none;
	}
	
	#main_content_wrapper{
		margin: 20px 2.8%;
	}
	
	#schedule_container{
		margin-right: 2.8%;
	}
	
	#sponsor_section{
		
	}
	
	#column-l{
		width: 92.5%;
	}
	
	#left_column{
		margin-right: 2.8%;
	}
	
	#schedule{
		display: none;
	}
	#listen_live2{
		display: none;
	}
	
	#television{
		display:none;
	}
	
	#radio{
		display:none;
	}
	
	.menu{
		display:none;
	}
	#support{
		border-right:1px solid #FFF;
	}
	
	#shop{
		display:none;
	}
	
	.search_box{
		display:none;	
	}	
}

@media screen and (max-width:650px){
	
	#heart_container{
		visibility:hidden;
	}
}
@media screen and (max-width: 624px){
	
	#footer_links{
		padding-top:13px;
	}
}

@media screen and (max-width: 596px){
	#logo{
		width: 100%;
	}
	#sidebar{
		padding-bottom:0;
		
	}
	#schedule_container{
		width: 68%;
		margin-bottom: 20px;
		float: none;
	}
	
	#sponsor_section{
		float: none;
		width: 68%;
		height: 0;
	}
	
}
@media screen and (max-width: 555px){
	.footer_logo_area{
		height: 47px;
	}
	#footer_links{
		padding-top:0;
	}
}
@media screen and (max-width: 480px){
	#main_content_wrapper{
		margin: 20px 4.4%;
		}
		
	.highlights_section_head{
		display:none;
		}	
	.mobile_section_head {
		display: block;
		}
	.highlight_headline{
		font-size: 1.5em;
	}	
	.article_headline{
		
	}
	#schedule_container{
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
		width: 100%;
	}
	
	#sponsor_section{
		float: none;
		width:100%;
		height: auto;
		overflow: hidden;
	}
	
	#column-l{
		width: 100%;
	}
	
	#left_column{
		float: none;
		margin-right: 0px;
		width: 100%;	
		
	}
	
	#right_column{
		float: none;
		margin-right: 0px;
		width: 100%;	
	}	
	
	.pivot_button{
		width: 100%;
		height:50px;
		padding:0;
		padding-left:20px;
		border:0;
		
		border-bottom: 1px solid #007CC2;
		background-color:white;
		text-align:left;
		font-family: 'Franklin Gothic Book','Quattrocento Sans',Helvetica,sans-serif;
		font-size: 1.3em;
		color: #007CC2;
	}
	#schedule_button{
		border-top: 1px solid white;
	}
	
	
}
@media screen and (max-width: 454px){
	.footer_logo_area{
		height: 62px;
	}
	
}

@media screen and (max-width: 320px){
	#searchForm_container{
		width: 100%;
	}	
	#menu_searchInput{
		width: 69.3%;
	}
	#add_nav_container{
		display: none; 
	}
	#add_nav_item{
		list-style: none;
		height: 32px;
		padding: 9px 9px 9px 9px;
		color: #007CC2;
		background-color:white;
	}
	
}
 /*=======================================================
 * Content section for mobile schedule page using media queries
 */	
@media screen and (min-width: 320px){
	.content_wrapper{
		margin:15px 5.4%
	}
	#mobile_page_headline{
		float: left;
		width: 42.86%;
		font-family:'Franklin Gothic Book', 'Quattrocento Sans', Helvetica, sans-serif;
		font-size: 1.6em; 
		margin: 2px 0 15px 0;
	}
	.tv_radio_toggle{
		float: right;
		width:21.42%;
		margin-bottom: 15px;
		padding: 3px 0;
		border: 0;
		font-family:'Franklin Gothic Book', 'Quattrocento Sans', Helvetica, sans-serif;
		font-size: .9em;
		color: white;
		background-color: #007CC2;
		-moz-box-shadow: 2px 2px 3px 0px #202020;
		-webkit-box-shadow: 2px 2px 3px 0px #202020;
		box-shadow: 2px 2px 3px 0px #202020;
	}
	#tv_toggle{
		display:none;
	}
	#schedule_wrapper{
		clear: both;
		font-family:'Franklin Gothic Book', 'Quattrocento Sans', Helvetica, sans-serif;
		background-color: #959595;
		overflow: hidden;
	}
	#schedule_head{
		height: 17px;
		padding: 9px 10px;
		border-bottom: 1px solid white;
	}
	#left_arrow{
		float: left;
		border: 0;
		padding: 0;
		background-color: #959595;
		margin: 0px;
	}
	#date{
		float: left;
		margin-left:34%;
		font-size: 1.2em; 
    	color: #fff;
	}
	#right_arrow{
		float: right;
		border: 0;
		padding: 0;
		background-color: #959595;
		margin: 0px;
	}
	#radio_schedule{
		display:none;
	}
	.time_column{
		width: 20.7%;
		border-right: 1px solid #FFF;
		border-bottom:1px solid #FFF;
		
	}
	table{
		width:100%
	}
	th, td{
		padding: 10px;
		color:white;
		vertical-align: top;
	}
	td{
		border-bottom: 1px solid white;
	}		
}

 /*=======================================================
 * HTML 5 Media Queries device and device pixel ratio fixes 
 * ======================================================
 */	
 
@media only screen and (min-device-width : 320px) and (-webkit-min-device-pixel-ratio : 2) and (orientation : portrait) { 
				#slogan span{
					line-height:0;
					}
					
				.highlight_body_text{
					line-height: 30px;
				}
				.time_stamp{
					height:176px;
				}
				.break{
					line-height: 30px;
				}
				.article_headline{
					font-weight: bold;
				}
				.article_text{
					line-height: 30px;
				}

}
	



